mat-card {
    margin: 10px;
    width: 100%;
}

.mat-card-image {
    flex: 1 1 100%; 
    box-sizing: border-box; 
    max-width: 100%;
    margin: 1px;
    padding-top: 25px;
}

.mat-card-content {
    margin-bottom: 0;
    padding-left: 5px;
    margin-top: 10px;
    word-wrap: break-word;
}
