<div class="container" fxLayout="row" fxLayoutGap="0.5%" fxLayoutWrap fxLayoutAlign="center">
  <mat-card class="doctor-card">
    <div fxFlex="20%">
      <img [src]="urlAvatar" class="user-avatar">
    </div>
    <div fxFlex="40%" fxLayout="column" fxLayoutAlign="center">
      <mat-card-content class="mat-display-1" fxFlex>{{doctor.secondName}} {{doctor.firstName}} {{doctor.thirdName}}</mat-card-content>
    </div>
    <div fxFlex="40%">
      <mat-card-content class="mat-display-1">{{doctor.specialization}}</mat-card-content>
    </div>
    <a class="doctor-link" [routerLink]="doctorInf"  mat-raised-button color="primary">Profile</a>
  </mat-card>
</div>