#slider::after{
  
}

button{
    width: 40px;
    min-width: 40px;
    padding: 0;
}

mat-dialog-content{
    padding: 0;
}

#slider{
    width: 640px;
    overflow: hidden;
    display: inline-block;

    #img-line{
        width: 1408px;
        position: relative;
        transition: all ease 0.5s;

        img{
            height: auto;
            width: auto;
            max-width: 128px;
            max-height: 128px;
        }
    }
}