<form class="example-container" id="FatherForm" [formGroup]="doctorplansService.loginForm" (ngSubmit)="onSubmit()" style="margin-left: 30px">
  <mat-card>
    <mat-card-content id="divider">
      <mat-form-field id="mat-form-fieldStrech">
        <mat-label>Start</mat-label>
        <input
        matInput
        formControlName="start"
        type="text"
        mwlFlatpickr         
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        [minuteIncrement]="5"
        [time24hr]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set">
      </mat-form-field>
      <mat-form-field id="mat-form-fieldStrech">
        <mat-label>End</mat-label>
        <input
        matInput
        formControlName="end"
        type="text"
        mwlFlatpickr         
        [altInput]="true"
        [convertModelValue]="true"
        [enableTime]="true"
        [minuteIncrement]="5"
        [time24hr]="true"
        dateFormat="Y-m-dTH:i"
        altFormat="F j, Y H:i"
        placeholder="Not set">
      </mat-form-field>
    </mat-card-content>
    <section class="RightFloat">
      <button id="SignInBtn" mat-raised-button type="submit">CREATE</button>
    </section>
  </mat-card>
</form>
