<div class="footer" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end" fxFlex>
    <div class="footer-top" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="60%"></div>
        <div class="footer-contacts" fxLayoutGap="5px" fxLayout="column" fxFlex="nogrow">
            <h2>Contacts</h2>
            <div>
                <p>Rivne Office</p>
                <p>Rivne, Slovatskoho Str. 4/6, floor 2</p>
                <p>+38 (096) 549 7678</p>
            </div>
        </div>
    </div>
    <div class="footer-bottom" fxLayout="row" fxLayoutAlign="center">
        <div class="footer-menu" fxLayout.lt-md="column" fxLayoutGap="15px" fxFlex="80%">
            <div class="footer-menu-nav" fxLayoutGap="5px" fxLayoutAlign="start" fxLayoutAlign.lt-md="start" fxFlex="50%">
                <a href="#">Privacy Policy</a>
                <span>-</span>
                <a href="#">Terms and Conditions</a>
                <span>-</span>
                <a href="#">Sitemap</a>
                <span>-</span>
                <a href="#">Search</a>
            </div>
            <div class="footer-menu-social" fxLayoutGap="5px" fxLayoutAlign="end" fxLayoutAlign.lt-md="start" fxFlex="50%">
                <a href="#">Facebook</a>
                <span>-</span>
                <a href="#">Twitter</a>
                <span>-</span>
                <a href="#">LinkedIn</a>
                <span>-</span>
                <a href="#">YouTube</a>
            </div>
        </div>
    </div>
</div>