.feedback-container{
    margin: 10px;
    border-left: 20px solid;
    position: relative;

    .content-mark{
        display: inline-block; 
        width: 20px; 
        background-color: red;
    }

    .feedback-marks-container{
        display: inline-block; 
        vertical-align:top; 
        text-align: right;
        width: 100%;
        span{
            vertical-align: top;
        }
    }

    .expand-button{
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 24px;
        right: 11px;
    }

    .body{
        text-align: justify; 
        overflow: hidden;
        margin-bottom: 40px;
    }
}