.main-info{
    margin-top: 10px;
}

.doctor-info {
    margin: 10px; 
    vertical-align: middle;
    text-align: left;

    .info-name{
        width: calc(50% - 10px);
        margin-right: 10px;
        display: inline-block;
        vertical-align: top;
    }
    
    .info-value{
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
}

.doctor-rating {
    vertical-align: bottom;
    text-align: center;
    height: 100%;

    .marks{
        display: inline-block; 
        width: 50%; 
        vertical-align: middle;
        font-size: 1.7em;
        mat-icon{
            vertical-align: middle;
        }
    }

    .negative{
        color: red; 
    }

    .positive{
        color: green;
    }

}

.additional-info {
    vertical-align: top;
    text-align: justify; 
    margin-top: 10px;
}

:host{
    margin-left: 15%;
    width: 70%;
    display: block;
}

.feedback-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}