/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
snack-bar-container.error {
    background-color: #e05744;
    color : #fff;
  }

snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;    
  }