@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

@font-face {
  font-family: "Fontil Sans R";
  src: url("./Fontin_Sans_R.otf") format("opentype");
}

html,
body {
  font-family: "Fontil Sans R";
}

.main-container {
  position: absolute;
  top: 56px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 20px;
}

$custom-typography: mat-typography-config(
  $font-family: "Fontil Sans R, monospace",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($custom-typography);

snack-bar-container.error {
  background-color: #e05744;
  color: #fff;
}

snack-bar-container.success {
  background-color: #5cb85c;
  color: #fff;
}

snack-bar-container.notification simple-snack-bar {
  font-size: 18px !important;
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .main-container {
    left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .push-right {
    #sidebar {
      left: 0 !important;
    }
  }
}