/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
snack-bar-container.error {
    background-color: #e05744;
    color : #fff;
  }

snack-bar-container.success {
    background-color: #5cb85c;
    color : #fff;
  }

  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;    
  }

  @font-face {
    font-family: 'Fontil Sans';
    src: url('./app/Components/adminpanel/assets/fonts/FontinSans/Fontin_Sans_R.otf') format('opentype');
}

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Fontil Sans, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

html,
body {
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 56px;
    left: 250px;
    right: 0;
    bottom: 0;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

.custom-dialog-container .mat-dialog-container {
    padding: 0;
}

.cdk-global-overlay-wrapper {
    pointer-events: auto;
    display: block;
    position: relative;
    overflow: auto;
    text-align: center;
  }
  
  .cdk-global-overlay-wrapper::before {
    content: '';
    display: inline-block;
    height: 100%;
    white-space: nowrap;
  }
  
  .cdk-overlay-pane {
    display: inline-block;
    position: relative;
    text-align: left;
    white-space: normal;
  }
  