.example-fill-remaining-space {
    flex: 1 1 auto;
  }
  #HeaderButton{
    padding: 5px;
  }
  .color_blue{
    color:#6ed3cf
  }
  .color_red{
    color:#e62030;
  }
  .header{
    font-size: 25px
  }
  .user-avatar{
    height:30px;
  }