<mat-toolbar color="primary">

    <!-- Header -->
    <button id="HeaderButton" mat-button [routerLink]="['/']">
        <img width="40" height="40" src="../../../../assets/img/LogoCircle.png">
        <span class="header">
            <span class="color_red"> I</span>nternet
            <span class="color_blue"> H</span>ospital
        </span>
    </button>

    <!-- Space -->
    <span class="example-fill-remaining-space"></span>

    <!-- Phone Menu -->
    <button mat-icon-button [matMenuTriggerFor]="menu" fxHide.sm fxHide.md fxHide.lg>
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-button routerLink="/doctor-list">Doctor's List</a>
        <button *ngIf="!(isLoggedIn | async)" mat-button [routerLink]="['/sign-in']">Sign In</button>
        <button *ngIf="!(isLoggedIn | async)" mat-button [routerLink]="['/sign-up']">Sign Up</button>
        <button mat-menu-item *ngIf="(isPatient | async)" [routerLink]="['/']">My history</button>
        <button mat-menu-item *ngIf="(isDoctor | async)" [routerLink]="['/']">My plans</button>
        <button mat-menu-item *ngIf="(isModerator | async)" [routerLink]="['/supersecurityadminpanel']">Admin panel</button>
        <button mat-menu-item *ngIf="(isAdmin | async)" [routerLink]="['/supersecurityadminpanel']">Admin panel</button>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item [routerLink]="['/sign-in']">Sign out</button>
    </mat-menu>

    <!-- Desktop Menu -->
    <div id="DeskMenu" fxHide.xs>
        <a mat-button routerLink="/doctor-list">Doctor's List</a>
        <button *ngIf="(isLoggedIn | async)" mat-button [matMenuTriggerFor]="appMenu">
            <img class="user-avatar" src="https://blog.circle.com/content/images/2018/04/rachel.png" />
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <button *ngIf="!(isLoggedIn | async)" mat-button [routerLink]="['/sign-in']">Sign In</button>
        <button *ngIf="!(isLoggedIn | async)" mat-button [routerLink]="['/sign-up']">Sign Up</button>
        
    </div>

</mat-toolbar>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false" xPosition="before">
    <button mat-menu-item *ngIf="(isPatient | async)" [routerLink]="['/']">My history</button>
    <button mat-menu-item *ngIf="(isDoctor | async)" [routerLink]="['/']">My plans</button>
    <button mat-menu-item *ngIf="(isModerator | async)" [routerLink]="['/supersecurityadminpanel']">Admin panel</button>
    <button mat-menu-item *ngIf="(isAdmin | async)" [routerLink]="['/supersecurityadminpanel']">Admin panel</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item [routerLink]="['/sign-in']">Sign out</button>
</mat-menu>