

.moder-create-container{
    width:100%;
    text-align:center;
    
    button{
        width: 85px;
        margin: 5px;
    }
    .mat-card{
        width:300px;
        display:inline-block;
        .return-button{
            width:180px;
        }
    }
}