<div id="GlobalDiv" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <form fxLayout="row" fxFlexAlign="space-evenly center" [formGroup]="service.form" 
    #signUpForm="ngForm" class="normal-form" (ngSubmit)="onSubmit(signUpForm)" enctype="multipart/form-data">

      <mat-divider></mat-divider>

      <div fxLayout="column" fxLayoutAlign="space-around center" class="inner-div">
        <div class="controles-row">
          <mat-form-field>
            <input required formControlName="Email" matInput placeholder="Email">
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
        </div>
        <div class="controles-row">
          <mat-form-field>
            <input required type="password" formControlName="Password" matInput placeholder="Password">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
        <div class="controles-row">
          <mat-form-field>
            <input required type="password" formControlName="ConfirmPassword" matInput placeholder="Confirm Password">
            <mat-error>Passwords don't match.</mat-error>          
          </mat-form-field>
        </div>
        <div style="margin-top:-15px;">
            <mat-radio-group formControlName="Role" id="group">
                <mat-radio-button color="primary" class="marginten" value="Patient">Patient</mat-radio-button>
                <mat-radio-button color="primary" class="marginten" value="Doctor">Doctor</mat-radio-button>
              </mat-radio-group>
        </div>
        <div>
          <input id="Image" formControlName="Image" #Image type="file" accept="image/*" (change)="imageHandling.handleFileInput($event.target.files)"
          class="inputfile" name="Image">
          <label class="mi-text-header" for="Image"><i class="fas fa-upload"></i><strong> Choose profile photo</strong></label>
        </div>
        <div>
          <div div fxLayout="row" fxLayoutAlign="space-around center">
            <button class="marginbtn" mat-raised-button color="warn" type="button" (click)="onClear()">Clear</button>
            <button class="marginbtn" mat-raised-button color="primary" type="submit" [disabled]="imageHandling.isImageValid == false || service.form.invalid">Submit</button>
          </div>
        </div>
      </div>
      <div id="PictureDiv" fxLayout="column" fxLayoutAlign="end center">
        <img [src]="imageHandling.imageUrl" name="Caption" class="image-view">
      </div>
    </form>
  </mat-card>
</div>