<div id="GlobalDiv" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>

    <form fxLayout="row" fxFlexAlign="space-evenly center" [formGroup]="service.form" 
    #signUpForm="ngForm" class="normal-form" (ngSubmit)="onSubmit(signUpForm)" enctype="multipart/form-data">

      <mat-divider></mat-divider>

      <div style="margin-top:20px" fxLayout="column" fxLayoutAlign="space-around center">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="Email" matInput>
            <mat-error>Invalid email address.</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="Password" matInput>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" formControlName="ConfirmPassword" matInput>
            <mat-error>Passwords don't match.</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-radio-group fxLayout="row" fxLayoutAlign="space-between center">
            <mat-radio-button class="marginbtn" value="Patient">Patient</mat-radio-button>
            <mat-radio-button class="marginbtn" value="Doctor">Doctor</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="marginten">
          <input id="Image" formControlName="Image" #Image type="file" accept="image/*" (change)="handleFileInput($event.target.files)"
          class="inputfile" name="Image">
          <label class="mi-text-header" for="Image"><i class="fas fa-upload"></i><strong> Choose passport photo</strong></label>
        </div>
        <div>
          <div div fxLayout="row" fxLayoutAlign="space-around center">
            <button class="marginbtn" mat-raised-button color="primary" type="submit" [disabled]="isImageValid == false || !this.service.form.invalid">Submit</button>
            <button class="marginbtn" mat-raised-button color="warn" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
      <div id="PictureDiv" fxLayout="column" fxLayoutAlign="end center">
        <img [src]="imageUrl" name="Caption" class="image-view">
      </div>
    </form>
  </mat-card>
</div>