<div class="container">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="20%">
            <form class="example-container" id="FatherForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
            style="margin-left: 30px">
            <mat-card>
              <mat-card-content id="divider">
                  <mat-form-field id="mat-form-fieldStrech">
                    <mat-label>Start</mat-label>
                    <input 
                    matInput 
                    style="width:100%" 
                    formControlName="start" 
                    type="text" 
                    mwlFlatpickr 
                    [altInput]="true" 
                    [convertModelValue]="true"
                    [enableTime]="true" 
                    [minuteIncrement]="5" 
                    [time24hr]="true" 
                    dateFormat="Y-m-dTH:i" 
                    altFormat="F j, Y H:i"
                    placeholder="Not set">
                  </mat-form-field>
                  <mat-form-field id="mat-form-fieldStrech">
                    <mat-label>End</mat-label>
                    <input 
                    matInput 
                    formControlName="end" 
                    type="text" 
                    mwlFlatpickr 
                    [altInput]="true" 
                    [convertModelValue]="true"
                    [enableTime]="true" 
                    [minuteIncrement]="5" 
                    [time24hr]="true" 
                    dateFormat="Y-m-dTH:i" 
                    altFormat="F j, Y H:i"
                    placeholder="Not set">
                  </mat-form-field>
              </mat-card-content>
              <section class="RightFloat">
                <button id="SignInBtn" mat-raised-button type="submit">CREATE</button>
              </section>
            </mat-card>
          </form>
        </div>
        <div fxFlex="70%">
            <div class="row text-center"  style="margin-top:20px">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="activeDayIsOpen = false">
                      Previous
                    </div>
                    <div
                      class="btn btn-outline-secondary"
                      mwlCalendarToday
                      [(viewDate)]="viewDate">
                      Today
                    </div>
                    <div
                      class="btn btn-primary"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="activeDayIsOpen = false">
                      Next
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                  <div class="btn-group">
                    <div
                      class="btn btn-primary"
                      (click)="view = CalendarView.Month"
                      [class.active]="view === CalendarView.Month">
                      Month
                    </div>
                    <div
                      class="btn btn-primary"
                      (click)="view = CalendarView.Week"
                      [class.active]="view === CalendarView.Week">
                      Week
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div [ngSwitch]="view" style="margin: 40px">
                <mwl-calendar-month-view
                  *ngSwitchCase="CalendarView.Month"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view
                  *ngSwitchCase="CalendarView.Week"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  [dayStartHour]="6"
                  [dayEndHour]="20"
                  [hourSegments]="12"
                  (eventClicked)="handleEvent('Clicked', $event.event)"
                  (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>
              </div>
            </div>
        </div>
    </div>
  