h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

  .mat-card {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-expansion-panel {
    margin-left: 30px;
    margin-right: 30px;
  }

  .mat-card-title {
    margin-bottom: 16px;
  }